{% set activeMenuItem = 1 %}
{% extends "layout.html" %}

{% block style %}

<link href="{{ url_for('static', filename='css/mdb.min.css') }}" rel="stylesheet">
<style>
  .view {
      /*background: url("{{ url_for('static', filename='obstkorb.jpg') }}")no-repeat center center; */
      background: url("static/obstkorb.jpg")no-repeat center center;
      background-size: cover;
      height: 1000px;
  }

  .navbar {
    background-color: rgba(51,105,30,1);
  }

  .top-nav-collapse {
    background-color: #4285F4;
  }
</style>
{% endblock %}


{% block body %}


  <header>
    <div class="view hm-black-light logoXL">
        <div class="full-bg-img flex-center">
            <div class="container text-center white-text">
                <div class="white-text text-center wow fadeInUp">
                    <h2>HUNTING FOOD</h2>
                    <h5>Solves the daily struggle in an healty and convenient way</h5>
                    <br>
                    <p>Check out what other people hunt for when they are hungry and join the community ... </p>
                </div>
            </div>
        </div>
    </div>

  </header>
  <!--Main Navigation-->

  <!--Main Layout-->
  <main class="text-center py-5">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p align="justify">quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>
        </div>
    </div>

  </main>

  <footer class="page-footer light-green darken-4 center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://www.HuntingFood.com"> HuntingFood.com </a>

        </div>
    </div>
    <!--/.Copyright-->

  </footer>
  {% endblock %}

  {% block script %}
  <script type=text/javascript src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
  <script>
  </script>
  {% endblock %}
