{% set activeMenuItem = 4 %}
{% extends "layout.html" %}


{% block style %}
<style>

  input[type="text"].sl-item {
    width: 250px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
  }

  #map {
    height: 500px;
  }

  #location {
    height: 70px;
  }

</style>
{% endblock %}


{% block body %}

  <div id="location">
    <input id="search" type="text" placeholder="suche">
    <div id="marker_title">ausgewählt: Rewe</div>
    <button>zeige Einkaufsliste</button>
  </div>
  <div id="map">

  </div>

{% endblock %}

{% block script %}
<script>
  // Required to pass urls into the java script module
  var url_map_items = "{{ url_for('map_places_handler') }}";
</script>

<script type=text/javascript src="{{ url_for('static', filename='js/map.js') }}"></script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key={{ g_api_key }}&callback=initMap">
</script>
{% endblock %}
