{% extends "layout.html" %}
{% block body %}
<main class="text-center py-5">
  <!--Card Regular-->
  <div class="card mx-lg-1 my-2">
    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>New Meal</strong></h4>

        <form action="{{ url_for('addMeals') }}" method="POST" enctype="multipart/form-data">
          <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
          <div class="custom-file">
            <input type="file" name="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>

          <div class="md-form">
            <!--<label for="title">Title</label>-->
            <input class="form-control" type="text" id="title" name="title" placeholder="Title">
            <textarea class="form-control" rows="2" id="desc" name="description" placeholder="Description"></textarea>
            <!--<label for="portions">Portions</label>-->
            <p style="width:300px">
              <input class="form-control" name="portions" type="range" id="portions" min="1" max="20" value="2" step="1">
            </p>
          </div>

          <div class="md-form">
            <table>
              <tr>
                <th width="20%">Quantity</th>
                <th width="30%">Unit</th>
                <th>Ingredient</th>
              </tr>
              {% for x in range(1, 10) %}
              <tr>
                <td><input class="form-control" type="text" name="quantity{{x}}" size="1"></td>
                <td>
                  <select class="browser-default" name="uom{{x}}">
                  {% for u in uoms %}
                  <option value="{{ u.uom }}">{{ u.uom }}</option>
                  {% endfor %}
                  </select>
                </td>
                <td><input class="form-control" type="text" name="ingredient{{x}}" size="1"></td>
              </tr>
              {% endfor %}
            </table>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit" name="button" value="Save">Save</button>
            <button class="btn btn-secondary" type="submit" name="button" value="Cancel">Cancel</button>
          </div>
        </form>

    </div>
    <!--/.Card content-->
  </div>
</main>
{% endblock %}
