{% extends "layout.html" %}

{% block style %}
<style>
  .card {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    @include media-breakpoint-up(md);
  }

  .card.card-cascade {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
      }

      /*TODO: Create behaviour that for mobile devices the display is block in order to center the items */

      @include media-breakpoint-up(md) {
        display: block;
      }
</style>
{% endblock %}

{% block body %}
<main class="text-center">

  <!--Card Regular-->
  <div class="card mx-auto mt-1">

      <!--Card image-->
      <div class="view overlay hm-white-slight">
          <img src="{{url_for('upload_static', filename=meal.image)}}" class="img-fluid" alt="">
          <a>
              <div class="mask"></div>
          </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title"><strong>{{ meal.title }}</strong></h4>

          <p class="card-text">{{ meal.description }}</p>

          {% if meal.portions: %}
            <p class='card-text'><small class="text-muted">{% if meal.calories: %} {{ meal.calories }} kcal | {% endif %}{{ meal.portions }} Portionen</small>
          {% endif %}

          {% set items = getIngredients(meal.id) %}
          {% if items %}
            <ul class="list-group list-group-flush">
              {% for i in items %}
              <li class="list-group-item">{{ '%g'%i.quantity }} {{ i.uom.shortDE }} {{ i.title }}</li>
              {% endfor %}
            </ul>
          {% endif %}

      </div>
      <!--/.Card content-->

  </div>
  <!--/.Card Regular-->

</main>
{% endblock %}
