{% set activeMenuItem = 4 %}
{% extends "layout.html" %}


{% block style %}
<style>



</style>
{% endblock %}


{% block body %}
<main class="text-center py-0">

  <!-- Tab Navigation -->
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active hide-link" id="diet_plan-tab" data-toggle="tab" href="#diet_plan" role="tab" aria-controls="dietplan" aria-selected="true"><div class="sl-nav-icon"><i class="fas fa-utensils" aria-hidden="true"></i></div> Speiseplan</a>
        <!--<a href="#/diet_plan">click</a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link" id="inventory-tab" data-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="false"><div class="sl-nav-icon"><i class="fas fa-warehouse" aria-hidden="true"></i></div> Bestand</a>
        <!--<a href="#/inventory">click</a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link" id="shoppinglist-tab" data-toggle="tab" href="#shoppinglist" role="tab" aria-controls="shoppingslist" aria-selected="false"><div class="sl-nav-icon"><i class="fas fa-shopping-basket" aria-hidden="true"></i></div> Einkaufsliste</a>
        <!--<a href="#/shoppinglist">click</a>-->
      </li>
    </ul>
  </div>

  <!-- Tabs -->
  <div class="tab-content" id="myTabContent">

    <!-- Tab 1: Dietplan -->
    <div class="tab-pane fade show active" id="diet_plan" role="tabpanel" aria-labelledby="diet_plan-tab">
      <div class="container">

        <!-- Navbar: week selector -->
        <nav ria-label="Week-Selector">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <!-- ko foreach: weekRange -->
                <li class="page-item" data-bind="css: { active: $data.week_number() == $parent.weekSelected() }"><a class="page-link" data-bind="click: $parent.changeWeek, text: 'Woche ' + $data.week_number()" href="#"></a></li>
                <!-- /ko -->
                <li class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Grid: Calendar -->
        <div class="row" data-bind="foreach: selectedGridWeek">
          <div class="col calendar">
            <div class="card">

              <div class="card-header">
                <h5 class="card-title" data-bind="html: $data.dayShort()"></h5>
              </div>

              <div data-bind="foreach: $data.dietPlanItems">
                <div class="card-body">
                  <select class="custom-select" data-bind="options: $root.meals, optionsText: 'title', optionsValue: 'id', value: meal_id"></select>
                  <select class="custom-select" data-bind="options: $root.portions, value: portions"></select>
                  <img class="dp-meal-image" data-bind="attr: { src: '/upload/' + $root.getMealImageURL(meal_id) }">
                  <button type="button" class="btn btn-light" data-bind="click: function(data, event) { $root.removeDietPlanItem($parent, data, event) }">remove</button>
                </div>
              </div>

              <div class="card-footer">
                <select class="custom-select" data-bind="options: $root.meals, optionsText: 'title', optionsValue: 'id', value: meal_id_select2add"></select>
                <button type="button" class="btn btn-primary" data-bind="click: $root.addDietPlanItem">add</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Tab 2: Inventory -->
    <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
      <div class="container">
        <header>
          <!-- Date Picker Start -->
          <div class="input-group">
            <div class="form-group">
              <label for="formControlRange" data-bind="text: planForecastDays() + ' days'"></label>
              <input type="range" min="1" max="28" class="form-control-range" id="formControlRange" data-bind="value: planForecastDays">
            </div>
            <!-- <input type="text" class="datepicker" data-bind="value: plan_date_start"> -->
            <p data-bind="text: moment(plan_date_end()).format('DD.MM.YY')">

            </p>
          </div>
          <!-- Date Picker End -->
          <form data-bind="submit: addInventoryItem">

            <!-- jqAutoComplete Knockout plugin START -->
            <input class="text-center new-inv"
                   data-bind="jqAuto: { value: newInventoryItemTitle, source: $root.loadMaterials, inputProp: 'title', labelProp: 'title', valueProp: 'id' }, valueUpdate: 'afterkeydown', enterKey: addInventoryItem"
                   placeholder="Neue Zutat/Gegenstand" autofocus />
            <!-- jqAutoComplete Knockout plugin END -->

            <label class="mx-2 text-left" for="newInvItemStockUnit">Verbrauchseinheit?</label>
            <select class="custom-select" data-bind="css: showControls, options: unitsOfMeasure, optionsText: 'longEN', optionsValue: 'uom', value: $root.newInventoryItemBaseUnit"></select>

            <label class="mx-2 text-left" for="newInvItemBaseUnit">Einheit beim Kaufen?</label>
            <select class="custom-select" data-bind="options: unitsOfMeasure, optionsText: 'longEN', optionsValue: 'uom', value: $root.newInventoryItemStockUnit"></select>

            <button type="submit" class="btn btn-primary">Hinzufügen</button>

          </form>


        </header>

        <section data-bind="visible: inventoryItems().length">
          <table class="table px-0">
            <thead>
              <tr>
                <th scope="Status"><i class="fas fa-question-circle"></i></th>
                <th scope="Eintrag"><i class="fas fa-list-alt"></i></th>
                <th scope="Bestand"><i class="fas fa-warehouse"></i></th>
                <th scope="Other"><i class="fas fa-hand-holding"></i></th>
                <th scope="Periodic"><i class="fas fa-redo"></i></th>
                <th scope="Bedarf"><i class="fas fa-utensils"></i></th>
                <th scope="Total"><i class="fas fa-equals"></i></th>
              </tr>
            </thead>
            <tbody data-bind="foreach: filteredInventoryItems">
              <tr class="inv-list" data-bind="css: statusClass">
                <td class="px-1"><button class="inv-btn-tgl toggle btn btn-primary px-1" data-bind="text: statusText, click: $root.toogleStatus"></button></td>
                <td class="px-1 inv-list-title" data-bind="text: title() + ' (' + uom_base() + ')'"></td>
                <td class="px-1"><button class="inv-btn btn btn-secondary px-1" data-bind="text: quantity_base(), click: $root.EditItem2"></button></td>
                <td class="px-1"><button class="inv-btn btn btn-secondary px-1" data-bind="text: plannedQuantityOther(), click: $root.EditItem4"></button></td>
                <td class="px-1"><button class="inv-btn btn btn-secondary px-1" data-bind="text: plannedQuantityPeriodic(), click: $root.EditItem"></button></td>
                <td class="px-1" data-bind="text: plannedQuantity()"></td>
                <td class="px-1" data-bind="text: plannedQuantityTotal()"></td>
              </tr>
            </tbody>
          </table>
        </section>

        <!-- Modal view START -->
        <div data-bind="modal: ItemBeingEdited" class="fade" role="dialog" tabindex="-1">
          <form data-bind="submit: $root.SaveItem">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Item Details</h3>
                  <a class="close" data-dismiss="modal">×</a>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="TitleInput">Bezeichnung</label>
                    <input type="text" class="form-control" id="TitleInput" placeholder="title of item .."
                           data-bind="textInput: ItemBeingEdited() && ItemBeingEdited().title">
                  </div>
                  <div class="form-group">
                    <label for="QuantityBaseInput">Wieviele Einheiten sind noch da?</label>
                    <input type="text" class="form-control" id="QuantityBaseInput" placeholder="0"
                           data-bind="textInput: ItemBeingEdited() && ItemBeingEdited().quantity_base">
                  </div>
                  <div class="form-group">
                    <label for="cpTypeInput">Zeitraum für regelmässiger Verbrauch?</label>
                    <select class="custom-select" data-bind="options: $root.cpTypes, optionsText: 'TextDE', optionsValue: 'id', value: ItemBeingEdited() && ItemBeingEdited().cp_type"></select>
                  </div>
                  <div class="form-group">
                    <label for="cpQuantityInput">Anzahl Einheiten pro Zeitraum?</label>
                    <input type="text" class="form-control" id="cpQuantityInput"
                           data-bind="textInput: ItemBeingEdited() && ItemBeingEdited().cp_quantity">
                  </div>
                  <div class="form-group">
                    <label for="cpPlanDateStartInput">Ab wann?</label>
                    <input type="text" class="form-control datepicker" id="cpPlanDateStartInput"
                           data-bind="textInput: ItemBeingEdited() && ItemBeingEdited().cp_plan_date_start">
                  </div>
                  <!-- ko if: ValidationErrors() && ValidationErrors().length > 0 -->
                  <div class="alert alert-danger" style="margin: 20px 0 0">
                    Please correct the following errors:
                    <ul data-bind="foreach: { data: ValidationErrors, as: 'errorMessage' }">
                      <li data-bind="text: errorMessage"></li>
                    </ul>
                  </div>
                  <!-- /ko -->
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Modal view END -->

        <!-- Modal: Quantity -->
        <div data-bind="modal: ItemBeingEdited2" class="fade" role="dialog" tabindex="-1">
          <form data-bind="submit: $root.SaveItem2">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Bestand</h3>
                  <a class="close" data-dismiss="modal">×</a>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="QuantityBaseInput">Bestand (Lagereinheit)</label>
                    <input type="text" class="form-control" id="QuantityStockInput" placeholder="0"
                           data-bind="textInput: ItemBeingEdited2() && ItemBeingEdited2().quantity_stock">
                  </div>
                  <div class="form-group">
                    <label for="QuantityBaseInput">Bestand (Basiseinheit)</label>
                    <input type="text" class="form-control" id="QuantityBaseInput" placeholder="0"
                           data-bind="textInput: ItemBeingEdited2() && ItemBeingEdited2().quantity_base">
                  </div>

                  <!-- ko if: ValidationErrors() && ValidationErrors().length > 0 -->
                  <div class="alert alert-danger" style="margin: 20px 0 0">
                    Please correct the following errors:
                    <ul data-bind="foreach: { data: ValidationErrors, as: 'errorMessage' }">
                      <li data-bind="text: errorMessage"></li>
                    </ul>
                  </div>
                  <!-- /ko -->
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Modal view END -->

        <!-- Modal: Forecast Other -->
        <div data-bind="modal: ItemBeingEdited4" class="fade" role="dialog" tabindex="-1">
          <form data-bind="submit: $root.SaveItem4">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Zusätzlicher Bedarf</h3>
                  <p>kein regelmässiger oder durch Speisen geplanter Bedarf</p>
                  <a class="close" data-dismiss="modal">×</a>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="OPQuantityInput">Bedarf (Basiseinheit)</label>
                    <input type="text" class="form-control" id="OPQuantityInput" placeholder="0"
                           data-bind="textInput: ItemBeingEdited4() && ItemBeingEdited4().op_quantity">
                  </div>
                  <!-- ko if: ValidationErrors() && ValidationErrors().length > 0 -->
                  <div class="alert alert-danger" style="margin: 20px 0 0">
                    Please correct the following errors:
                    <ul data-bind="foreach: { data: ValidationErrors, as: 'errorMessage' }">
                      <li data-bind="text: errorMessage"></li>
                    </ul>
                  </div>
                  <!-- /ko -->
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Modal view END -->
      </div>
    </div>


    <div class="tab-pane fade" id="shoppinglist" role="tabpanel" aria-labelledby="shoppinglist-tab">
      <div class="container">
        <div id="sl-messages"></div>
        <div class="sl-form">
          <input type="text" id="sl-new-item" class="form-control sl-item" placeholder="neuer Eintrag ...">
          <button onclick="slSaveData()" class="btn btn-primary sl-btn"><i class="fa fa-plus mr-1"></i></button>
        </div>
        <div id="sl-items">
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block script %}
<script>
  // Pass the end point urls to the java script module as variables
  var url_sl_items = "{{ url_for('all_shopping_items_handler') }}";
  var url_api_meals = "{{ url_for('api_v1_meals') }}";
  var url_api_dietplan = "{{ url_for('api_v1_dietplan', diet_plan_id = diet_plan.id ) }}";
  var url_api_inventory = "{{ url_for('api_v1_inventory', inventory_id = inventory.id ) }}";
  var url_api_users = "{{ url_for('api_v1_users') }}";
  var url_api_uom = "{{ url_for('api_v1_uom') }}";
  var url_api_materials = "{{ url_for('api_v1_materials') }}";
  var dp_id = {{ diet_plan.id }};
  var inv_id = {{ inventory.id }};
  var csrf_token = "{{ csrf_token() }}";
</script>
<script type=text/javascript src="{{ url_for('static', filename='js/knockout-3.2.0.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='node_modules/knockout-jqautocomplete/build/knockout-jqAutocomplete.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/shoppinglist.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='node_modules/director/build/director.js') }}"></script>
<script>
  $(function () {

    slLoadItems();

    var today = new Date();
    $('.datepicker').datepicker({
      weekStart: 1,
      language: 'de',
      calendarWeeks: true,
      autoclose: true,
      todayHighlight: true
    });

    moment().format();

    var tabLink = function (tabName) {
        console.log('Tab Name = ' + tabName);
        $('#myTab a[href="#' + tabName + '"]').tab('show');
      };

    Router({ '/:tab': tabLink }).init();

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      console.log('newly activated tab = ' + e.target);
      if (e.target == 'http://localhost:8000/shoppinglist#inventory') {
        invVM.loadInventoryItems();
      }
    })

  })
</script>
{% endblock %}
