{% set activeMenuItem = 4 %}
{% extends "layout.html" %}


{% block style %}
<style>



</style>
{% endblock %}


{% block body %}
<main class="text-center py-0">

  <!-- Tab Navigation -->
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active hide-link" id="diet_plan-tab" data-toggle="tab" href="#diet_plan" role="tab" aria-controls="dietplan" aria-selected="true"><div class="sl-nav-icon"><i class="fas fa-utensils" aria-hidden="true"></i></div> Speiseplan</a>
        <!--<a href="#/diet_plan">click</a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link" id="inventory-tab" data-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="false"><div class="sl-nav-icon"><i class="fas fa-warehouse" aria-hidden="true"></i></div> Bestand</a>
        <!--<a href="#/inventory">click</a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link" id="shoppinglist-tab" data-toggle="tab" href="#shoppinglist" role="tab" aria-controls="shoppingslist" aria-selected="false"><div class="sl-nav-icon"><i class="fas fa-shopping-basket" aria-hidden="true"></i></div> Einkaufsliste</a>
        <!--<a href="#/shoppinglist">click</a>-->
      </li>
    </ul>
  </div>

  <!-- Tabs -->
  <div class="tab-content" id="myTabContent">

    <!-- Tab 1: Dietplan -->
    <div class="tab-pane fade show active" id="diet_plan" role="tabpanel" aria-labelledby="diet_plan-tab">
      <div class="container">

        <!-- Navbar: week selector -->
        <nav ria-label="Week-Selector">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <!-- ko foreach: weekRange -->
                <li class="page-item" data-bind="css: { active: $data.week_number() == $parent.weekSelected() }"><a class="page-link" data-bind="click: $parent.changeWeek, text: 'Woche ' + $data.week_number()" href="#"></a></li>
                <!-- /ko -->
                <li class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Grid: Calendar -->
        <div class="row" data-bind="foreach: selectedGridWeek">
          <div class="col calendar">
            <div class="card">

              <div class="card-header">
                <h5 class="card-title" data-bind="html: $data.dayShort()"></h5>
              </div>

              <div data-bind="foreach: $data.dietPlanItems">
                <div class="card-body">
                  <select class="custom-select" data-bind="options: $root.meals, optionsText: 'title', optionsValue: 'id', value: meal_id"></select>
                  <select class="custom-select" data-bind="options: $root.portions, value: portions"></select>
                  <img class="dp-meal-image" data-bind="attr: { src: '/upload/' + $root.getMealImageURL(meal_id) }">
                  <button type="button" class="btn btn-light" data-bind="click: function(data, event) { $root.removeDietPlanItem($parent, data, event) }">remove</button>
                </div>
              </div>

              <div class="card-footer">
                <select class="custom-select" data-bind="options: $root.meals, optionsText: 'title', optionsValue: 'id', value: meal_id_select2add"></select>
                <button type="button" class="btn btn-primary" data-bind="click: $root.addDietPlanItem">add</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Start Binding -->
    <!-- <div id="inventoryshopping"> -->
    <!-- Tab 2: Inventory -->
    <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
      <div class="container">
        <header>
          <!-- Date Picker Start -->
          <div class="input-group">
            <div class="form-group">
              <label for="formControlRange" data-bind="text: $root.currentShoppingOrder().planForecastDays()"></label>
              <input type="range" min="1" max="28" class="form-control-range" id="formControlRange" data-bind="value: $root.currentShoppingOrder().planForecastDays">
            </div>
            <p data-bind="text: moment(plan_date_end()).format('DD.MM.YY')">n/a</p>
          </div>
          <!-- Date Picker End -->
          <form data-bind="submit: newInventoryItem">
            <!-- jqAutoComplete Knockout plugin START -->
            <input class="text-center new-inv"
                   data-bind="jqAuto: { value: newInventoryItemTitle, source: $root.loadMaterials, inputProp: 'title', labelProp: 'title', valueProp: 'id' }, valueUpdate: 'afterkeydown', enterKey: newInventoryItem"
                   placeholder="Neue Zutat/Gegenstand" autofocus />
            <!-- jqAutoComplete Knockout plugin END -->
            <button type="submit" class="btn btn-primary">Hinzufügen</button>
          </form>


        </header>

        <section data-bind="visible: inventoryItems().length">
          <table class="table px-0">
            <thead>
              <tr>
                <th scope="Status"><i class="fas fa-question-circle"></i></th>
                <th scope="Eintrag"><i class="fas fa-list-alt"></i></th>
                <th scope="Bestand"><i class="fas fa-warehouse"></i></th>
                <th scope="Bedarf"><i class="fas fa-hand-holding"></i></th>
              </tr>
            </thead>
            <tbody data-bind="foreach: filteredInventoryItems">
              <tr class="inv-list" data-bind="css: statusClass">
                <td class="px-1"><button class="inv-btn-tgl toggle btn btn-primary px-1" data-bind="text: statusText, click: $root.toogleStatus"></button></td>
                <td class="px-1"><button class="inv-btn-title btn btn-secondary px-1" data-bind="text: title() + ' (' + uom_base() + ')', click: $root.EditItem3"></button></td>
                <td class="px-1"><button class="inv-btn btn btn-secondary px-1" data-bind="text: quantity_base_formatted(), click: $root.EditItem2"></button></td>
                <td class="px-1"><button class="inv-btn btn btn-secondary px-1" data-bind="text: plannedQuantityTotal_formatted(), click: $root.EditItem"></button></td>
              </tr>
            </tbody>
          </table>
        </section>

        <!-- Modal view START -->
        <div data-bind="modal: ItemBeingEdited" class="fade" role="dialog" tabindex="-1">
          <form data-bind="submit: $root.SaveItem">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Bedarf</h3>
                  <a class="close" data-dismiss="modal">×</a>
                </div>
                <div class="modal-body">

                  <div class="form-group">
                    <label for="plannedQuantity">Bedarf durch Speiseplan?</label>
                    <input type="text" class="form-control" id="plannedQuantity"
                           data-bind="textInput: ItemBeingEdited() && ItemBeingEdited().plannedQuantity_nc_formatted" readonly>
                  </div>

                  <div class="form-group">
                    <label for="cpTypeInput">regelmässiger Bedarf Typ?</label>
                    <select class="custom-select" data-bind="options: $root.cpTypes, optionsText: 'TextDE', optionsValue: 'id', value: ItemBeingEdited() && ItemBeingEdited().cp_type"></select>
                  </div>
                  <div class="form-group">
                    <label for="cpQuantityInput">Wieviel Einheiten (Verbrauchseinheit)?</label>
                    <input type="text" class="form-control" id="cpQuantityInput"
                           data-bind="textInput: ItemBeingEdited() && ItemBeingEdited().cp_quantity_formatted">
                  </div>

                  <div class="form-group">
                    <label for="OPQuantityInput">Zusätzlicher (einmaliger) Bedarf?</label>
                    <input type="text" class="form-control" id="OPQuantityInput" placeholder="0"
                           data-bind="textInput: ItemBeingEdited() && ItemBeingEdited().op_quantity_formatted">
                  </div>
                  <!-- ko if: ValidationErrors() && ValidationErrors().length > 0 -->
                  <div class="alert alert-danger" style="margin: 20px 0 0">
                    Please correct the following errors:
                    <ul data-bind="foreach: { data: ValidationErrors, as: 'errorMessage' }">
                      <li data-bind="text: errorMessage"></li>
                    </ul>
                  </div>
                  <!-- /ko -->
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Modal view END -->

        <!-- Modal: Quantity -->
        <div data-bind="modal: ItemBeingEdited2" class="fade" role="dialog" tabindex="-1">
          <form data-bind="submit: $root.SaveItem2">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Bestand</h3>
                  <a class="close" data-dismiss="modal">×</a>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="QuantityBaseInput">Bestand (Lagereinheit)</label>
                    <input type="text" class="form-control" id="QuantityStockInput" placeholder="0"
                           data-bind="textInput: ItemBeingEdited2() && ItemBeingEdited2().quantity_stock_formatted">
                  </div>
                  <div class="form-group">
                    <label for="QuantityBaseInput">Bestand (Verbrauchseinheit)</label>
                    <input type="text" class="form-control" id="QuantityBaseInput" placeholder="0"
                           data-bind="textInput: ItemBeingEdited2() && ItemBeingEdited2().quantity_base_formatted">
                  </div>

                  <!-- ko if: ValidationErrors() && ValidationErrors().length > 0 -->
                  <div class="alert alert-danger" style="margin: 20px 0 0">
                    Please correct the following errors:
                    <ul data-bind="foreach: { data: ValidationErrors, as: 'errorMessage' }">
                      <li data-bind="text: errorMessage"></li>
                    </ul>
                  </div>
                  <!-- /ko -->
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Modal view END -->

        <!-- Modal view START -->
        <div data-bind="modal: ItemBeingEdited3" class="fade" role="dialog" tabindex="-1">
          <form data-bind="submit: $root.SaveItem3">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Details</h3>
                  <a class="close" data-dismiss="modal">×</a>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="TitleInput">Bezeichnung</label>
                    <input type="text" class="form-control" id="TitleInput" placeholder="Titel des Gegenstandes"
                           data-bind="textInput: ItemBeingEdited3() && ItemBeingEdited3().title">
                  </div>

                  <div class="form-group">
                    <label class="mx-2 text-left" for="newInvItemStockUnit">Lagereinheit?</label>
                    <select class="custom-select" data-bind="options: unitsOfMeasureStock, optionsText: 'longDE', optionsValue: 'uom', value: ItemBeingEdited3() && ItemBeingEdited3().uom_stock"></select>
                  </div>

                  <div class="form-group">
                    <label class="mx-2 text-left" for="newInvItemBaseUnit">Mengeneinheit?</label>
                    <select class="custom-select" data-bind="options: unitsOfMeasureBase, optionsText: 'longDE', optionsValue: 'uom', value: ItemBeingEdited3() && ItemBeingEdited3().uom_base"></select>
                  </div>

                  <div class="form-group">
                    <label for="CFactorInput">Wieviel ist in einer Lagereinheit?</label>
                    <input type="text" class="form-control" id="CFactorInput" placeholder=""
                           data-bind="textInput: ItemBeingEdited3() && ItemBeingEdited3().quantity_conversion_factor_formatted">
                  </div>

                  <!-- ko if: ValidationErrors() && ValidationErrors().length > 0 -->
                  <div class="alert alert-danger" style="margin: 20px 0 0">
                    Please correct the following errors:
                    <ul data-bind="foreach: { data: ValidationErrors, as: 'errorMessage' }">
                      <li data-bind="text: errorMessage"></li>
                    </ul>
                  </div>
                  <!-- /ko -->
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" data-bind="click: $root.DeleteItem" class="btn btn-danger">Delete</button>
                  <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Modal view END -->

        <!-- Modal: New Item START -->
        <div data-bind="modal: ItemBeingAdded" class="fade" role="dialog" tabindex="-1">
          <form data-bind="submit: $root.CreateItem">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Neuer Gegenstand</h3>
                  <a class="close" data-dismiss="modal">×</a>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="TitleInput">Bezeichnung</label>
                    <input type="text" class="form-control" id="TitleInput" placeholder="title of item .."
                           data-bind="textInput: ItemBeingAdded() && ItemBeingAdded().title">
                  </div>

                  <div class="form-group">
                    <label class="mx-2 text-left" for="newInvItemStockUnit">Lagereinheit?</label>
                    <select class="custom-select" data-bind="options: unitsOfMeasureStock, optionsText: 'longDE', optionsValue: 'uom', value: ItemBeingAdded() && ItemBeingAdded().uom_stock"></select>
                  </div>

                  <div class="form-group">
                    <label class="mx-2 text-left" for="newInvItemBaseUnit">Mengeneinheit?</label>
                    <select class="custom-select" data-bind="options: unitsOfMeasureBase, optionsText: 'longDE', optionsValue: 'uom', value: ItemBeingAdded() && ItemBeingAdded().uom_base"></select>
                  </div>

                  <div class="form-group">
                    <label for="CFactorInput">Wieviel ist in einer Lagereinheit??</label>
                    <input type="text" class="form-control" id="CFactorInput" placeholder=""
                           data-bind="textInput: ItemBeingAdded() && ItemBeingAdded().quantity_conversion_factor_formatted">
                  </div>

                  <!-- ko if: ValidationErrors() && ValidationErrors().length > 0 -->
                  <div class="alert alert-danger" style="margin: 20px 0 0">
                    Please correct the following errors:
                    <ul data-bind="foreach: { data: ValidationErrors, as: 'errorMessage' }">
                      <li data-bind="text: errorMessage"></li>
                    </ul>
                  </div>
                  <!-- /ko -->
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Modal view END -->


        <!-- Modal: Forecast Other -->
        <div data-bind="modal: ItemBeingEdited4" class="fade" role="dialog" tabindex="-1">
          <form data-bind="submit: $root.SaveItem4">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Zusätzlicher Bedarf</h3>
                  <p>kein regelmässiger oder durch Speisen geplanter Bedarf</p>
                  <a class="close" data-dismiss="modal">×</a>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="OPQuantityInput">Bedarf (Verbrauchseinheit)</label>
                    <input type="text" class="form-control" id="OPQuantityInput" placeholder="0"
                           data-bind="textInput: ItemBeingEdited4() && ItemBeingEdited4().op_quantity_formatted">
                  </div>
                  <!-- ko if: ValidationErrors() && ValidationErrors().length > 0 -->
                  <div class="alert alert-danger" style="margin: 20px 0 0">
                    Please correct the following errors:
                    <ul data-bind="foreach: { data: ValidationErrors, as: 'errorMessage' }">
                      <li data-bind="text: errorMessage"></li>
                    </ul>
                  </div>
                  <!-- /ko -->
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Modal view END -->
      </div>
    </div>


    <div class="tab-pane fade" id="shoppinglist" role="tabpanel" aria-labelledby="shoppinglist-tab">
      <div class="container">
        <header>
          <!-- Date Picker Start -->
          <div class="input-group">
            <div class="form-group">
              <label for="formControlRange" data-bind="text: $root.currentShoppingOrder().planForecastDays()"></label>
              <input type="range" min="1" max="28" class="form-control-range" id="formControlRange" data-bind="value: $root.currentShoppingOrder().planForecastDays">
            </div>
            <p data-bind="text: moment(plan_date_end()).format('DD.MM.YY')">n/a</p>&nbsp;
            <p data-bind="text: '(id=' + $root.currentShoppingOrder().id() + ')'"></p>
          </div>
          <!-- Date Picker End -->
          <form data-bind="submit: newInventoryItem">
            <!-- jqAutoComplete Knockout plugin START -->
            <input class="text-center new-inv"
                   data-bind="jqAuto: { value: newInventoryItemTitle, source: $root.loadMaterials, inputProp: 'title', labelProp: 'title', valueProp: 'id' }, valueUpdate: 'afterkeydown', enterKey: addInventoryItem"
                   placeholder="Neue Zutat/Gegenstand" autofocus />
            <!-- jqAutoComplete Knockout plugin END -->
            <button type="submit" class="btn btn-primary">Hinzufügen</button>
            <button type="button" class="btn btn-success" data-bind="click: $root.EditShoppingOrder">Einkauf abschliessen</button>
          </form>
        </header>

        <section data-bind="visible: inventoryItems().length">
          <table class="table px-0">
            <thead>
              <tr>
                <th scope="Eintrag"><i class="fas fa-list-alt"></i></th>
                <th scope="Bedarf"><i class="fas fa-hand-holding"></i></th>
                <th scope="MengeGekauft">Menge</th>
                <th scope="Basket"><i class="fas fa-shopping-basket"></i></th>
              </tr>
            </thead>
            <tbody data-bind="foreach: filteredShoppingItems">
              <tr class="inv-list" data-bind="css: statusClass">
                <td class="px-1" data-bind="text: title() + ' (' + uom_base() + ')'"></td>
                <td class="px-1" data-bind="text: plannedQuantityTotal_formatted()"></td>
                <td class="px-1"><input type="text" class="form-control" id="quantity_purchased" placeholder="0"
                       data-bind="textInput: $data.currentShoppingOrderItem().quantity_purchased_formatted"></td>
                <td class="px-1"><button class="btn btn-primary px-1" data-bind="click: toggleInBasket, text: in_basket_class"></button></td>
              </tr>
            </tbody>
          </table>
        </section>

        <!-- Modal: Forecast Other -->
        <div data-bind="modal: ShoppingOrderBeingEdited" class="fade" role="dialog" tabindex="-1">
          <form data-bind="submit: $root.SaveShoppingOrder">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Einkauf abschliessen</h3>
                  <a class="close" data-dismiss="modal">×</a>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile" data-bind="textInput: ShoppingOrderBeingEdited() && ShoppingOrderBeingEdited().receiptPhoto">
                      <label class="custom-file-label" for="customFile">Quittung auswählen</label>
                    </div>
                  </div>
                  <!-- ko if: ValidationErrors() && ValidationErrors().length > 0 -->
                  <div class="alert alert-danger" style="margin: 20px 0 0">
                    Please correct the following errors:
                    <ul data-bind="foreach: { data: ValidationErrors, as: 'errorMessage' }">
                      <li data-bind="text: errorMessage"></li>
                    </ul>
                  </div>
                  <!-- /ko -->
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Einkauf abschliessen</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Modal view END -->

      </div>
    </div>
  <!-- </div> -->
  <!-- End Binding -->
  </div>
</main>
{% endblock %}

{% block script %}
<script>
  // Pass the end point urls to the java script module as variables
  var url_sl_items = "{{ url_for('all_shopping_items_handler') }}";
  var url_api_meals = "{{ url_for('api_v1_meals') }}";
  var url_api_dietplan = "{{ url_for('api_v1_dietplan', diet_plan_id = diet_plan.id ) }}";
  var url_api_inventory = "{{ url_for('api_v1_inventory', inventory_id = inventory.id ) }}";
  var url_api_shopping_order = "{{ url_for('api_v1_shopping_order') }}";
  var url_api_shopping_order_item = "{{ url_for('api_v1_shopping_order_item') }}";
  var url_api_users = "{{ url_for('api_v1_users') }}";
  var url_api_uom = "{{ url_for('api_v1_uom') }}";
  var url_api_materials = "{{ url_for('api_v1_materials') }}";
  var url_cldr_numbers_de = "{{ url_for('node_static', filename='cldr-data/main/de/numbers.json') }}";
  var url_cldr_likely_subtags = "{{ url_for('node_static', filename='cldr-data/supplemental/likelySubtags.json') }}";
  var url_cldr_numberingSystems = "{{ url_for('node_static', filename='cldr-data/supplemental/numberingSystems.json') }}";
  var dp_id = {{ diet_plan.id }};
  var inv_id = {{ inventory.id }};
  var csrf_token = "{{ csrf_token() }}";
  var localSetting
</script>
<script type=text/javascript src="{{ url_for('node_static', filename='knockout/build/output/knockout-latest.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('node_static', filename='knockout-jqautocomplete/build/knockout-jqAutocomplete.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/shoppinglist.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/connections.js') }}"></script>
<script type=text/javascript src="{{ url_for('node_static', filename='director/build/director.js') }}"></script>
<script>
  $(function () {

    var today = new Date();
    $('.datepicker').datepicker({
      weekStart: 1,
      language: 'de',
      calendarWeeks: true,
      autoclose: true,
      todayHighlight: true
    });

    moment().format();

    var tabLink = function (tabName) {
        console.log('Tab Name = ' + tabName);
        $('#myTab a[href="#' + tabName + '"]').tab('show');
      };

    Router({ '/:tab': tabLink }).init();

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      console.log('newly activated tab = ' + e.target);
      if (e.target == 'http://localhost:8000/shoppinglist#inventory') {
        invVM.loadInventoryItems();
      }
    })

    // Initialize Globalize module with CDLR json files
    // async: false,

    $.ajax({
      url: url_cldr_likely_subtags,
      type: 'GET',
      async: false,
      success: function(data) {
          Globalize.load(data);
      }
    });

    $.ajax({
      url: url_cldr_numbers_de,
      type: 'GET',
      async: false,
      success: function(data) {
          Globalize.load(data);
      }
    });

    $.ajax({
      url: url_cldr_numberingSystems,
      type: 'GET',
      async: false,
      success: function(data) {
          Globalize.load(data);

      }
    });

    localSetting = Globalize( "de" );

  })
</script>
{% endblock %}
