{% set activeMenuItem = 4 %}
{% extends "layout.html" %}


{% block style %}
<style>



</style>
{% endblock %}


{% block body %}
<main class="text-center py-5">

  <!-- Tab Navigation -->
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="diet_plan-tab" data-toggle="tab" href="#diet_plan" role="tab" aria-controls="dietplan" aria-selected="true"><div class="sl-nav-icon"><i class="fas fa-utensils" aria-hidden="true"></i></div> Speiseplan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="inventory-tab" data-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="false"><div class="sl-nav-icon"><i class="fas fa-warehouse" aria-hidden="true"></i></div> Bestand</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="shoppinglist-tab" data-toggle="tab" href="#shoppinglist" role="tab" aria-controls="shoppingslist" aria-selected="false"><div class="sl-nav-icon"><i class="fas fa-shopping-basket" aria-hidden="true"></i></div> Einkaufsliste</a>
      </li>
    </ul>
  </div>

  <!-- Tabs -->
  <div class="tab-content" id="myTabContent">

    <!-- Tab 1: Dietplan -->
    <div class="tab-pane fade show active" id="diet_plan" role="tabpanel" aria-labelledby="diet_plan-tab">
      <div class="container">

        <!-- Navbar: week selector -->
        <nav ria-label="Week-Selector">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <!-- ko foreach: week_range -->
                <li class="page-item" data-bind="css: { active: $data.week_number() == $parent.week_selected() }"><a class="page-link" data-bind="click: $parent.changeWeek, text: 'Woche ' + $data.week_number()" href="#"></a></li>
                <!-- /ko -->
                <li class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Grid: Calendar -->
        <div class="row" data-bind="foreach: selectedGridWeek">
          <div class="col calendar">
            <div class="card">

              <div class="card-header">
                <h5 class="card-title" data-bind="html: $data.dayShort()"></h5>
              </div>

              <div data-bind="foreach: $data.dietPlanItems">
                <div class="card-body">
                  <select class="custom-select" data-bind="options: $root.meals, optionsText: 'title', optionsValue: 'id', value: meal_id"></select>
                  <select class="custom-select" data-bind="options: $root.portions, value: portions"></select>
                  <img class="dp-meal-image" data-bind="attr: { src: '/upload/' + $root.getMealImageURL(meal_id) }">
                  <button type="button" class="btn btn-light" data-bind="click: function(data, event) { $root.removeDietPlanItem($parent, data, event) }">remove</button>
                </div>
              </div>

              <div class="card-footer">
                <select class="custom-select" data-bind="options: $root.meals, optionsText: 'title', optionsValue: 'id', value: meal_id_select2add"></select>
                <button type="button" class="btn btn-primary" data-bind="click: $root.addDietPlanItem">add</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Tab 2: Inventory -->
    <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
      <div class="container">
        <header>
				  <input class="new-inv" data-bind="value: current, valueUpdate: 'afterkeydown', enterKey: addInventoryItem" placeholder="Neue Zutat/Gegenstand" autofocus>
			  </header>
        <section data-bind="visible: inventoryItems().length">
  				<ul class="inv-list" data-bind="foreach: filteredInventoryItems">
  					<li data-bind="css: statusText">
  						<div class="view">
                <button class="toggle btn btn-primary" data-bind="text: statusText, click: $root.toogleStatus"></button>
  							<label data-bind="text: title, event: { dblclick: $root.editItem }"></label>
  							<button class="destroy" data-bind="click: $root.removeInventoryItem"></button>
  						</div>
  						<input class="edit" data-bind="value: title, valueUpdate: 'afterkeydown', enterKey: $root.saveEditing, escapeKey: $root.cancelEditing, selectAndFocus: editing, event: { blur: $root.saveEditing }">
  					</li>
  				</ul>
			  </section>
      </div>
    </div>


    <div class="tab-pane fade" id="shoppinglist" role="tabpanel" aria-labelledby="shoppinglist-tab">
      <div class="container">
        <div id="sl-messages"></div>
        <div class="sl-form">
          <input type="text" id="sl-new-item" class="form-control sl-item" placeholder="neuer Eintrag ...">
          <button onclick="slSaveData()" class="btn btn-primary sl-btn"><i class="fa fa-plus mr-1"></i></button>
        </div>
        <div id="sl-items">
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block script %}
<script>
  // Pass the end point urls to the java script module as variables
  var url_sl_items = "{{ url_for('all_shopping_items_handler') }}";
  var url_api_meals = "{{ url_for('api_v1_meals') }}";
  var url_api_dietplan = "{{ url_for('api_v1_dietplan', diet_plan_id = diet_plan.id ) }}";
  var dp_id = {{ diet_plan.id }};
  var url_api_inventory = "{{ url_for('api_v1_inventory', inventory_id = inventory.id ) }}";
  var inv_id = {{ inventory.id }};
  var csrf_token = "{{ csrf_token() }}";
</script>
<script src="{{ url_for('static', filename='js/knockout-3.2.0.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/shoppinglist.js') }}"></script>
<script>
  $(function () {

    slLoadItems();

  })
</script>
{% endblock %}
