<!DOCTYPE html>
<html>
  <head>
    <!-- Set the character encoding to unicode to allow special characters -->
    <meta charset="utf-8">
    <!-- Set the viewport with to match the device-width by keeping device to CSS pixel ratio at 1 -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!-- External stylesheet from google to include special fonts -->
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Permanent+Marker' rel='stylesheet'>
    <!-- Stylesheet with style information is stored in a separate file -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main_styles.css') }}">
    <title>Food Coach</title>
  </head>
  <body>
    <header>
<!--
      <div class="header">
        <h1>Food Coach</h1>
        <p>@SoerenStereo</p>
      </div>
      <div class="header_line"></div>
    </header>
-->
    <main>
      <!-- Welcome section of the document -->
      <section class="welcome">
        <div class="welcome_div">
          <h2>Speiseplan für die ganze Familie</h2>
          <p class="welcome_text">
          Lege eine Liste alle Rezepte an die deine Famile so gerne mag. Lege fest an welchem Tag welches Gericht gekocht werden soll. Einkaufslisten werden automatisch generiert. Kinderleicht!
          </p>
        </div>
      </section>

      <!-- Section with the week plan -->
      <section class="content">
        <H2>Speiseplan</H2>
        <div class="flex_container">
          <article class="day_item">
            <h3>Montag</h3>
              <div>Avocado</div>
              <div>Salat</div>
              <div>Käsebrot</div>
          </article>

          <article class="day_item">
            <h3>Dienstag</h3>
            <div>
            </div>
            <div>Käsespätzle</div>
          </article>

          <article class="day_item">
            <h3>Mittwoch</h3>
            <div>Salat</div>
          </article>

          <article class="day_item">
            <h3>Donnerstag</h3>
            <div>Spaghetti</div>
          </article>

          <article class="day_item">
            <h3>Freitag</h3>
            <div>Currywurst</div>
          </article>

          <article class="day_item">
            <h3>Samstag</h3>
            <div>Dönner</div>
          </article>

          <article class="day_item">
            <h3>Sonntag</h3>
            <div>Pizza</div>
          </article>
        </div>
      </section>

      <!-- Section with meals -->
      <section class="content">
        <H2>Gerichte</H2>
        <div class="flex_container">

          <article class="meal">
            <div class="image_box">
              <img src="images/linsendhal.jpg" alt="Gericht">
            </div>
            <h3>Linsen Dhal</h3>
            <div>
              <table class="ingredients">
                <tr><td><span class="quantity">100g</span> <span class="food">Linsen</span></td></tr>
                <tr><td><span class="quantity">1 Stück</span> <span class="food">Zwiebel</span></td></tr>
                <tr><td><span class="quantity">1 EL</span> <span class="food">Salz</span></td></tr>
              </table>
            </div>
          </article>

          <article class="meal">
            <div class="image_box">
              <img src="images/linsenmitspaetzle.jpg" alt="Gericht">
            </div>
            <h3>Linsen mit Spätzle und Saitenwürstchen</h3>
            <div>
              <table class="ingredients">
                <tr><td><span class="quantity">100g</span> <span class="food">Linsen</span></td></tr>
                <tr><td><span class="quantity">1 Stück</span> <span class="food">Zwiebel</span></td></tr>
                <tr><td><span class="quantity">1 EL</span> <span class="food">Salz</span></td></tr>
              </table>
            </div>
          </article>

          <article class="meal">
            <div class="image_box">
              <img src="images/geschmelztemaultaschen.jpg" alt="Gericht">
            </div>
            <h3>Geschmeltzte Maultaschen</h3>
            <div>
              <table class="ingredients">
                <tr><td><span class="quantity">100g</span> <span class="food">Linsen</span></td></tr>
                <tr><td><span class="quantity">1 Stück</span> <span class="food">Zwiebel</span></td></tr>
                <tr><td><span class="quantity">1 EL</span> <span class="food">Salz</span></td></tr>
              </table>
            </div>
          </article>
        </div>
      </section>

    </main>
  </body>
</html>
