{% extends "layout.html" %}
{% block body %}
<main class="text-center py-5">
  <div style="height: 35px">

  </div>

  <!--Card Regular-->
  <div class="card mx-auto mt-1 card-cascade">

      <!--Card image-->
      <div class="view overlay hm-white-slight">
          <img src="{{url_for('upload_static', filename=meal.image)}}" class="img-fluid" alt="">
          <a>
              <div class="mask"></div>
          </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title"><strong>{{ meal.title }}</strong></h4>

          <p class="card-text">{{ meal.description }}
          </p>

          <!--Facebook-->
          <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
          <!--Twitter-->
          <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
          <!--Google +-->
          <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>

          <table class="table">
            <thead>
              <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Unit</th>
              </tr>
            </thead>
            <tbody>
              {% set items = getIngredients(meal.id) %}
              {% if items: %}
                {% for i in items %}
              <tr>
                <td>{{ i.food.title }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.uom.shortDE }}</td>
              </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>

      </div>
      <!--/.Card content-->

  </div>
  <!--/.Card Regular-->

</main>
{% endblock %}
