{% set activeMenuItem = 2 %}
{% extends "layout.html" %}
{% block body %}
<main>
  <div style="height: 68px">

  </div>
  {% for m in meals %}

  <!--Card Regular-->
  <div class="card mx-md-1 my-2">

      <!--Card image-->
      <div class="view overlay hm-white-slight">
          <img src="{{url_for('upload_static', filename=m.image)}}" class="img-fluid" alt="">
          <a href="{{ url_for('showMeal', meal_id=m.id) }}">
              <div class="mask"></div>
          </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-body">
          <!--Title-->
          <!--Social shares button-->
        <a class="activator"><i class="fa fa-share-alt"></i></a>
        <!--Title-->
        <h4 class="card-title">{{ m.title }}</h4>
        <p class="card-text">von {{ m.user.name }}</p>
        <hr>

        <!--Text-->
        <p class="card-text">{{ m.description }}</p>
        <a href="{{ url_for('deleteMeal', meal_id=m.id) }}" class="black-text d-inline-flex flex-row-reverse">
            <h5 class="waves-effect p-2"><i class="fa fa-trash" aria-hidden="true"></i></h5>
        </a>
        <a href="{{ url_for('showMeal', meal_id=m.id) }}" class="black-text d-inline-flex flex-row-reverse">
            <h5 class="waves-effect p-2">more <i class="fa fa-chevron-right"></i></h5>
        </a>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card Regular-->

  {% endfor %}

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a href="{{ url_for('addMeals') }}" class="btn-floating btn-lg red">
          <i class="fa fa-pencil"></i>
      </a>
  </div>

</main>
{% endblock %}
