<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <!--
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main_styles.css') }}">
      <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Permanent+Marker' rel='stylesheet'> -->
      <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
      <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
      <title>Food Coach Database Contents</title>
  </head>

  <body class="meal_add">
    <!-- For each meal repeat the following section -->

    <article class="meal">

      <form data-ajax="false" action="{{ url_for('deleteMeal',meal_id=meal.id) }}" method="POST" enctype="multipart/form-data">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token }}">
        <!-- TODO: It seems that JQuery mobile requires form fields with id -->
        <div>
          Are you sure you want to delete the meal <b>{{ meal.title }}</b>
        </div>

        <button type="submit" name="button" value="Delete">Delete</button>
        <button type="submit" name="button" value="Cancel">Cancel</button>
      </form>
    </article>
