<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <!--
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main_styles.css') }}">
      <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Permanent+Marker' rel='stylesheet'> -->
      <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
      <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
      <title>Food Coach Database Contents</title>
  </head>

  <body class="meal_add">
    <!-- For each meal repeat the following section -->

    <article class="meal">
      <!-- form decorated with data-ajax="false" because multipart form data not supported with ajax
           which seems to get used in the mobile version of JQuery
           More info: http://demos.jquerymobile.com/1.4.3/forms/
      -->
      <form data-ajax="false" action="{{ url_for('addMeals') }}" method="POST" enctype="multipart/form-data">
      <div class="image_box">
        <label for="file">Choose an image for your meal</label>
        <input type="file" name="file" id="file" value="">
      </div>

      <!-- TODO: It seems that JQuery mobile requires form fields with id -->
      <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" size="36" placeholder="Enter Title of Meal">
        <label for="desc">Description</label>
        <textarea rows="3" cols="36" id="desc" name="description"></textarea>
        <label for="portions">Portions</label>
        <input type="text" id="portions" name="portions" size="2">

        <table>
          <tr>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Ingredient</th>
          </tr>
          <tr>
            <td><input type="text" name="quantity1" size="4"></td>
            <td>
              <select name="uom1">
              {% for u in uoms %}
              <option value="{{ u.uom }}">{{ u.uom }}</option>
              {% endfor %}
              </select>
            </td>
            <td><input type="text" name="ingredient1"></td>
          </tr>
        </table>
      </div>

      <button type="submit" name="button" value="Save">Save</button>
      <!-- <button type="submit" name="button" value="Cancel">Cancel</button> -->
      </form>
    </article>
