{% set activeMenuItem = 4 %}
{% extends "layout2.html" %}


{% block style %}
<style>

  /* Styles for the shopping list form */

  #sl-card1 {
    width: 475px;
    padding: 0.5rem;
    height: 100%;
  }

  input[type="text"].sl-item {
    width: 250px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
  }

  .sl-form {
    position: relative;
  }

  .sl-btn {
    position: absolute;
    top: 0;
    right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }


  .dp-meal-image {
    max-width: : 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }

  .sl-success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }

  .sl-error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }

  .classic-tabs li a {
    margin: 0px;
    padding: 5px;
  }

</style>
{% endblock %}


{% block body %}
<main class="text-center py-5">

  <!-- Nav tabs -->
  <div class="tabs-wrapper">
      <ul class="slim nav classic-tabs tabs-orange" role="tablist">
          <li class="nav-item">
              <a class="nav-link waves-light slim" data-toggle="tab" href="#panel61" role="tab"><i class="fa fa-heart fa-1x" aria-hidden="true"></i><br> Speiseplan</a>
          </li>
          <li class="nav-item">
              <a class="slim nav-link waves-light active" data-toggle="tab" href="#panel62" role="tab"><i class="fa fa-plus fa-1x" aria-hidden="true"></i><br> Bestand</a>
          </li>
          <li class="nav-item">
              <a class="slim nav-link waves-light" data-toggle="tab" href="#panel63" role="tab"><i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i><br> Einkaufsliste</a>
          </li>
      </ul>
  </div>

  <!-- Tab panels -->
  <div class="tab-content" id="sl-card1">
      <!--Panel 1-->
      <div class="tab-pane fade" id="panel61" role="tabpanel">

        <!--Pagination dark grey-->
        <nav>
            <ul class="pagination pg-darkgrey">
                <!--Arrow left-->
                <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <!--Numbers-->
                <li class="page-item active"><a class="page-link">Woche {{ diet_plan.week_no }}</a></li>
                <li class="page-item"><a class="page-link">Woche {{ diet_plan.week_no + 1 }}</a></li>
                <li class="page-item"><a class="page-link">Woche {{ diet_plan.week_no + 2 }}</a></li>

                <!--Arrow right-->
                <li class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!--/Pagination dark grey-->


        <div data-bind="foreach: timeGrid">
          <div class="card">
            <div class="card-header">
              Diet Plan
            </div>
            <!--Card content-->
            <div class="card-body">
              <h5 class="card-title" data-bind="html: $data.dayShort()"></h5>

              <div class="form-group" data-bind="foreach: $data.dietPlanItems">
                    <table>
                      <tr>
                        <th>done</th>
                        <th colspan="2">meal</th>
                        <th>action</th>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check">
                            <input type="checkbox" value="" id="filledInCheckbox1" data-bind="attr: { id: 'consumed' + $data.id() }, checked: consumed">
                            <label data-bind="attr: { for: 'consumed' + $data.id() }">

                            </label>
                          </div>
                        </td>
                        <td>
                          <select class="custom-select" data-bind="options: $root.meals, optionsText: 'title', optionsValue: 'id', value: meal_id"></select>
                        </td>
                        <td>
                          <img class="dp-meal-image" data-bind="attr: { src: '/upload/' + $root.getMealImageURL(meal_id) }">
                        </td>
                        <td>
                          <button type="button" class="btn btn-light" data-bind="click: function(data, event) { $root.removeDietPlanItem($parent, data, event) }">remove</button>
                        </td>
                      </tr>
                    </table>
              </div>
              <select class="browser-default" data-bind="options: $root.meals, optionsText: 'title', optionsValue: 'id', value: meal_id_select2add"></select>
              <button type="button" class="btn btn-primary" data-bind="click: $root.addDietPlanItem">add</button>
            </div>
          </div>
        </div>
      </div>
      <!--/.Panel 1-->

      <!--Panel 2-->
      <div class="tab-pane fade in show active" id="panel62" role="tabpanel">
        <div id="sl-messages"></div>

        <div class="sl-form">
          <input type="text" id="sl-new-item" class="form-control sl-item" placeholder="neuer Eintrag ...">
          <button onclick="slSaveData()" class="btn btn-primary sl-btn"><i class="fa fa-plus mr-1"></i></button>
        </div>
        <div id="sl-items">

        </div>

      </div>
      <!--/.Panel 2-->

      <!--Panel 3-->
      <div class="tab-pane fade" id="panel63" role="tabpanel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>

      </div>
      <!--/.Panel 3-->

  </div>
</main>
{% endblock %}

{% block script %}
<script>
  // Pass the end point urls to the java script module as variables
  var url_sl_items = "{{ url_for('all_shopping_items_handler') }}";
  var url_api_meals = "{{ url_for('api_v1_meals') }}";
  var url_dp_details = "{{ url_for('api_v1_dietplan', diet_plan_id = diet_plan.id ) }}";
  var dp_id = {{ diet_plan.id }};
</script>
<script src="{{ url_for('static', filename='js/knockout-3.2.0.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/shoppinglist.js') }}"></script>
<script>
  $(function () {

    $('#myTab a:last').tab('show')

    slLoadItems();

  })
</script>
{% endblock %}
