<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Testpage</title>

    <!-- STATIC folder version -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mdb.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='main_styles.css') }}" rel="stylesheet">

    <Style>


    </Style>

</head>

<body>
  <main>
    <div class="card mx-md-1 my-2">
      <!--Card content-->
      <div class="card-body">

        <div class="form-group">
          <div class="view overlay hm-white-slight">
            <table>
              <tr>
                <td>
                  <div class="dp-meal-image" style="background-image: url('/upload/2018-01-28-19-49-17-071410.jpg');"></div>

                </td>
                <td>
                  <h4 class="card-title">Testspeise</h4>
                </td>
              </tr>
            </table>
            <input type="checkbox" data-mealId="30" name="dp-planned" class="filled-in" id="chkbox1">
            <label for="chkbox1">einplanen</label>

          </div>

        </div>
      </div>
    </div>



    </main>


    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/mdb.js') }}"></script>

    <script>

    $(function () {

      // Material Select Initialization
      $('.mdb-select').material_select();

      // Data Picker Initialization
      $('.datepicker').pickadate();

      $('#myTab a:last').tab('show')

      $('input[name=dp-planned]').change(dpSaveItem);

    })


      function dpSaveItem() {

        console.log(document.getElementById("chkbox1").checked);
        console.log($("#chkbox1").prop("checked"));
      }

    </script>

  </body>

</html>
